<% provide(:title, @title) %>

<h1><%= @title %></h1>

<main>
  <%= form_tag("/order/#{@order.id}", method: "put") do %>
    <div class="orders-base center-block">
      <h3>受注情報</h3>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">受注番号</label>
        <div class="col-sm-8">
          <%= @order.order_no %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">受注名</label>
        <div class="col-sm-8">
          <%= text_field(:order, :name, :size=>100) %>
        </div>
      </div>

      <div class="form-group row">
        <label for="workKind" class="col-sm-2 col-form-label">クライアント名</label>
        <div class="col-sm-8">
          <%= text_field(:order, :client_name, :size=>100) %>
        </div>
      </div>

      <div class="form-group row">
        <label for="salesKind" class="col-sm-2 col-form-label">受注日</label>
        <div class="col-sm-8">
          <%= date_field(:order, :ordered_date) %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">検収日(予定日)</label>
        <div class="col-sm-8">
          <%= date_field(:order, :receiving_inspection_date) %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">受注種別</label>
        <div class="col-sm-8">
          <%= select :order, :order_kind, Settings.order.order_kind,  :include_blank => true %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">売上種別</label>
        <div class="col-sm-8">
          <%= select :order, :sales_kind, Settings.order.salse_kind,  :include_blank => true %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">見積工数</label>
        <div class="col-sm-8">
          <%= number_field(:order, :estimate_work_hours) %>
        </div>
      </div>

      <div class="form-group row">
        <label for="orderedHours" class="col-sm-2 col-form-label">受注工数</label>
        <div class="col-sm-8">
          <%= number_field(:order, :ordered_work_hours) %>
          <%= @order.ordered_work_hours %>
        </div>
      </div>

      <div class="form-group row">
        <label for="acceptanceDate" class="col-sm-2 col-form-label">受注額</label>
        <div class="col-sm-8">
          <%= number_field(:order, :ordered_volume) %>
        </div>
      </div>

      <div class="form-group row">
        <label for="orderedStatus" class="col-sm-2 col-form-label">ステータス</label>
        <div class="col-sm-8">
          <%= select :order, :status, Settings.order.status,  :include_blank => true %>
        </div>
      </div>

    </div>

    <div class="main-ctrl">
      <a href="/orders" class="btn btn-primary active" role="button" aria-pressed="true">戻る</a>
      <button type="submit" class="btn btn-primary">登録</button>
    </div>
  <% end %>
</main>
