<% provide(:title, @title) %>

<main>
  <h3>受注情報</h3>
      <%= form_for @order, :url => { :action => "update" } do |f| %>

      <div class="orders-base center-block">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">受注番号</label>
          <div class="col-sm-8">
            <%= f.text_field :order_no %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">受注名</label>
          <div class="col-sm-8">
            <%= f.text_field :name, :size=>100 %>
          </div>
        </div>

        <div class="form-group row">
          <label for="workKind" class="col-sm-2 col-form-label">クライアント名</label>
          <div class="col-sm-8">
            <%= f.text_field(:client_name, :size=>100) %>
          </div>
        </div>

        <div class="form-group row">
          <label for="salesKind" class="col-sm-2 col-form-label">受注日</label>
          <div class="col-sm-8">
            <%= f.date_field(:ordered_date) %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">検収日(予定日)</label>
          <div class="col-sm-8">
            <%= f.date_field(:receiving_inspection_date) %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">受注種別</label>
          <div class="col-sm-8">
            <%= f.select :order_kind, Settings.order.order_kind, :include_blank => true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">売上種別</label>
          <div class="col-sm-8">
            <%= f.select :sales_kind, Settings.order.salse_kind, :include_blank => true %>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">見積工数</label>
          <div class="col-sm-8">
            <%= f.number_field(:estimate_work_hours) %>
          </div>
        </div>

        <div class="form-group row">
          <label for="orderedHours" class="col-sm-2 col-form-label">受注工数</label>
          <div class="col-sm-8">
            <%= f.number_field(:ordered_work_hours) %>
          </div>
        </div>

        <div class="form-group row">
          <label for="acceptanceDate" class="col-sm-2 col-form-label">受注額</label>
          <div class="col-sm-8">
            <%= f.number_field(:ordered_volume) %>
          </div>
        </div>

        <div class="form-group row">
          <label for="orderedStatus" class="col-sm-2 col-form-label">ステータス</label>
          <div class="col-sm-8">
            <%= f.select :status, Settings.order.status, :include_blank => true %>
          </div>
        </div>

        <%= f.submit "変更" %>
      </div>

  <% end %>
</main>
