<!DOCTYPE html>
<html>
  <head>
    <title><%= get_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <%= render 'layouts/title' %>
      <section class="contents">
        <%= yield %>
      </section>
      <script type="text/javascript" src="/dist/app.bundle.js"></script>
      <link rel="stylesheet" type="text/css" href="/dist/app.css" />
    </main>
  </body>
</html>
